/*   PC、スマホ共通スタイル */
  body {
    margin: 0 auto;
    font-family: 'meiryo', sans-serif;
    background-color: #fff;
  }

  #logo {
    font-family: Tahoma;
    color: #FFFAFA;
    text-decoration: none;
  }
  
  /* 店舗一覧 */
  #content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  #content ul {
    width: 100%;
    padding: 0;
  }

  #main-header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  form {
    display:flex;
    justify-content: flex-end;
    margin: 10px;
  }

  .index-search {
    height: 35px;
    width: 15rem;
    border: 0.5px solid #998675;
    outline: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .fas {
    color: #FFFAFA;
    border: 0.5px #998675;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #998675;
  }

  .shop {
    border: 1px solid #998675;
    border-radius: 10px;
    margin-bottom: 1em;
    background-color: #FFFAFA;
    list-style: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .10);
  }

  .shop:hover {
    opacity: 0.85;/* 透過率85% */
	  transition: 0.2s;/* 0.2秒アニメーション */
  }

  .shop-details {
    display: block;
    width:90%;
    height: 30%;
    margin: 0 auto;
  }

  .shop-details .fs-3 {
    margin: 0.1rem 0;
    padding-left: 0.2rem;
  }

  .shop-img {
    display: block;
    margin: 0 auto 0.4rem auto;
    width: 95%;
    height: 15em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .10);
  }

  .shop-details .row dt {
    font-weight: normal; 
    padding: 0 0 0 20px;
    margin-bottom: 0;
  }

  .shop-details .row dd {
    padding: 0;
    margin-bottom: 0;
  }

  /* 店舗詳細 */
  .reservation-button a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem auto 3rem auto;
    max-width: 250px;
    padding: 10px 25px;
    text-decoration: none;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
  }

  .reservation-button a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    border-radius: 3px;
    background: #998675;
    transition: .2s;
  }

  .reservation-button a:hover:before {
    top: calc(100% - 2px);
  }

  .tenposhousai-container {
    display: flex;
  }

  .review-container {
    width: 40%;
    margin-right: 5%;
  }
  
  .comment-container {
    display:flex;
    flex-flow:column;
    /* justify-content:space-between; */
    width: 45%;
  }

  .comment-container textarea {
    width: 100%;
  }

  .detail-information {
    margin: 0 auto;
    padding-left: 4rem;
  }

  .detail-information .row dt {
    font-weight: normal; 
    font-size: 1.2rem;
    border-bottom: 1px solid #998675;
    padding: 1.5rem 1.5rem 0 2rem;
  }

  .detail-information .row dd {
    font-size: 1.2rem;
    border-bottom: 1px solid #998675;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-bottom: 0;
  }

  /* ログイン */
  .login-input {
    border-radius: 2px;
    border: solid 1px #998675;
    background-color: #ffffff;
  }

  .check-label {
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
  
  .submit-button {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #998675;
  }

  /* PC用スタイル */
  @media screen and (min-width: 768px){
 
  /* 共通スタイル    */
  main {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
  }

  /* 店舗一覧 */
  
  #content ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .shop {
    display: inline-block;
    width:30%;
    height: 23em;
  }

  /* 店舗詳細 */
  #carousel-section{
    height: 500px;
    margin-bottom: 30px;
  }
  .carousel {
    display: inline-block;
    margin: 0 auto;
    width: 800px;
  }

  .carouselImg {
    width: 800px;
    height: 500px;
  }


  .box {
    padding: 5px;
  }


  }

  /* スマートフォン用スタイル */
  @media screen and (max-width: 767px) {
  /* 店舗一覧 */
  main {
    margin: 0;
  }

  #content ul {
    margin-right: auto;
    margin-left: auto;
  }
  
  .shop {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:80%;
    height: 23rem;
  }

    /* 店舗詳細 */

  .carousel {
    width: 500px;
    margin-left: 20px;
  }

  .carouselImg {
    width: 500px;
  }
  }
  
